nav {
	background-color: rgba(0,0,0,0.1);
	height: 50px;
	position: fixed;
	width: 100%;
}

nav i {
	color: #18e;
}

#banner {
	background-color: rgba(0,0,0,0.2);
	height: 600px;
}

nav ul {
	float: right;
}
nav ul li ,nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;	
}

nav ul li a {
	height: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	color: white;
}

nav .logo {
	float: left;
	padding-left: 20px;
}
 
#banner .inner {
	max-width:  300px;
	text-align: center;
	margin:  0 auto;
	position: relative;
	top: 160px;
}

#banner .inner .hr {
	height: 2px;
	background-color: white;
}

#banner .inner h1 {
	margin: 10px 0;	
	font-size: 40px;
	color: #fff;
}

button {
	border: none;
	background-color: #333;
	color: #eee;
	padding: 10px;
}

#banner button {
	margin: 10px 0;
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #18e;
}
 
 #banner .inner .more {
	margin-top: 150px;
	color: white;
 }

 .sub-heading {
 	font-size: 18px;
 	line-height: 30px;
 	margin: 10px 0;
 	color: #fff;
 }

 .logo {
 	font-size: 20px;
 	font-weight: 700;
 	letter-spacing: 1px;
}

.logo a {
	display: inline-block;
	height: inherit;
	color: white;
	text-decoration: none;
}

i {
	margin: 5px;
}

header {
	background-color: rgba(0,0,0,0.3);
}

a:visited{
	color: white;
}

ul{
	list-style: none;
	margin: 0px;
}

h2 {
	margin: 0;
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p{
	font-size: 18px;
	letter-spacing: 1px;
}

.wrapper {
	max-width: 1080px;
	margin: 0px auto; 
}

.green-section {
	padding: 100px 0;
	text-align: center;
	background-color: #089DB0;
	color: #fff;
}
.green-section .wrapper .hr {
	height: 2px;
	width: 60%;
	margin: 20px auto;
	background-color: #098E9F;
}
.green-section .icons-group .icon {
	display: inline-block;
	text-decoration: none;
	width: 80px;
	height: 80px;
	border:1px solid #0D6F7C;
	transform: rotate(45deg);
	margin: 20px;
}

.green-section .icons-group .icon i {
	display: inline-block;
	transform: rotate(-45deg);
	font-size: 50px;
	color: rgba(255,255,255,0.5);
	margin: 12px;
}

.icons-group {
	margin-top: 20px;	
}



.gray-section {
	background-color: #252F34;
	color: #fff;
}

.gray-section .img-section {
	width: 45%;

}

.img-section img {
	width: 100%;
}

.gray-section .text-section {
	width: 45%;
}

.article-preview > div{
	font-size: 0px;
	float: left;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;	
}

.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.05);
}

.text-section {
	margin: 8% 5%;

}

.text-section h2 {
	margin-bottom: 20px;
}

.text-section p{
	letter-spacing: 1px;
	font-size: 16px;
}

.text-section .sub-heading {
	font-size: 22px;
	margin-top: 0px;
}

.purple-section {
	background-color: #383356;
	color: #fff;
	padding: 80px;
}

.purple-section .head-wrapper {
	text-align: center;
}

.purple-section .hr {
	height: 2px;
	width: 60%;
	margin: 20px auto;
	background-color: #2D2947;
}

.card {
	float: left;
	width: 50%;
	min-height: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px;
}

.card:first-child {
	background-color: rgba(0,0,0,0.04);
}

.card:nth-child(2) {
	background-color: rgba(0,0,0,0.08);
}

.card:nth-child(3) {
	background-color: rgba(0,0,0,0.12);
}

.card:nth-child(4) {
	background-color: rgba(0,0,0,0.16);
}

.card:nth-child(5) {
	background-color: rgba(0,0,0,0.20);
}

.card:nth-child(6) {
	background-color: rgba(0,0,0,0.24);
}
footer {
	background-color: rgba(125,125,125,0.5);
	color: #fff;
	min-height: 200px;
	text-align: center;
}

ul.share-group {
	width: 1080px;
	display: block;
	margin: 0px auto;
	padding: 50px;
}

ul.share-group li a{
	text-decoration: none;
	color:#E1D81B;
}

.share-group li {
	display: inline-block;
	padding: 10px;
}

.copy {
	padding-bottom: 20px;
}

.main-wrapper {
	background:  #444 url("../img/banner.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}